@use '../../../styles/variables.scss' as *;

.partners {
  padding: 115px 0;
  position: relative;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 10px;
  min-height: 171px;
  max-width: 312px;
  width: 100%;
}

.navigation {
  max-width: 1660px;
  padding: 0px 10px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  width: 45px;
  height: 45px;
  background: $whiteColor;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
}

.nextImg {
  transform: rotate(180deg);
}

@media (max-width: 475px) {
  .slide {
    max-width: 100%;
    width: 100%;
  }
}
